version: "3.7"

services:
  mongodb:
    image: mongo:4.0
    container_name: tiny-url-db
    hostname: mongodb
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - ./mongod.conf:/etc/mongod.conf
      - $HOME/OpenProjects/gotinyurl/tiny-url-metadata/db-data/:/data/db
      - $HOME/OpenProjects/gotinyurl/tiny-url-metadata/app/log/:/var/log/mongodb/
    ports:
      - "27017:27017"
    command: ["-f", "/etc/mongod.conf"]
