version: "3.7"

services:
  redis:
    image: "redis:alpine"
    command: redis-server --requirepass root
    container_name: tiny-url-cache
    ports:
      - "6479:6379"
    volumes:
      - $HOME/OpenProjects/Tiny_URL_Service/tiny-url-metadata/redis-data:/var/lib/redis
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master

    networks:
      node_net:
        ipv4_address: 172.28.1.4

# networking for the Redis container
networks:
  node_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
